<p id="notice"><%= notice %></p>


<div class="blog-post">
            <h2 class="blog-post-title">  <%= @entry.title %></h2>
            <h4><%= @entry.tag %></h4>
            <h3><%= @entry.content %></h3>
        <% if user_signed_in? %>
      <% if current_user == @entry.user %>
            <%= link_to 'Edit', edit_entry_path(@entry) %>
            |
            <%= link_to 'Destroy', @entry, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    <%end%>

<h2>Add a comment:</h2>
<%= form_for([@entry, @entry.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :author %><br />
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


    <h2>Comments</h2>
<% if @entry.comments.length > 1 %>
  <% @entry.comments.each do |comment| %>
    <p>
        <div class="well">
        <p><b><%= comment.author %></b><br /><%= comment.body %></p>
      </div>
       <% if current_user == @entry.user %>
         <%= link_to "Destroy Entry Comment",[@entry,comment], method: :delete, data: { confirm: 'Are you sure?' }
        %>

      <%end%>
    </p>
  <% end %>
<% else %>
  <h3>No comments have been posted yet.</h3>
<% end %>
 </div>

